CONFIG_ESP32C3_REV_MIN_3=y
CONFIG_ESP32C3_BROWNOUT_DET=y
CONFIG_ESP32C3_BROWNOUT_DET_LVL_SEL_7=
CONFIG_ESP32C3_BROWNOUT_DET_LVL_SEL_4=y
CONFIG_ESP32C3_BROWNOUT_DET_LVL=4

CONFIG_ESP_CONSOLE_UART_DEFAULT=
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n # 不要 usb jtag

#CONFIG_ADC_ONESHOT_FORCE_USE_ADC2_ON_C3=y # 强制开启ADC2（可能会禁wifi）

CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y # deepsleep恢复不检验

#CONFIG_PM_ENABLE=y
#CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_PM_SLP_IRAM_OPT=y
CONFIG_PM_RTOS_IDLE_OPT=y
CONFIG_PM_SLP_DISABLE_GPIO=y
CONFIG_PM_POWER_DOWN_CPU_IN_LIGHT_SLEEP=y
CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=y #实验性

# CONFIG_ESP_SLEEP_FLASH_LEAKAGE_WORKAROUND=y # 上拉CS#, 增加一点电流

# CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y # 关Flash有风险
# CONFIG_ESP_SYSTEM_PD_FLASH=y # 这个已被改名成 CONFIG_ESP_SLEEP_POWER_DOWN_FLASH

# CONFIG_ESP_SLEEP_WAIT_FLASH_READY_EXTRA_DELAY=0 # 为flash等待多少时间
# CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND=y # 没有用PSRAM
# CONFIG_ESP32C3_LIGHTSLEEP_GPIO_RESET_WORKAROUND=y

# 这些能力其实已经在.h文件中设置了
CONFIG_SOC_PM_SUPPORT_CPU_PD=y
CONFIG_SOC_PM_SUPPORT_WIFI_PD=y
CONFIG_SOC_PM_SUPPORT_BT_PD=y
CONFIG_SOC_PM_SUPPORT_RC_FAST_PD=y
CONFIG_SOC_PM_SUPPORT_VDDSDIO_PD=y
CONFIG_SOC_PM_SUPPORT_MAC_BB_PD=y
CONFIG_SOC_PM_CPU_RETENTION_BY_RTCCNTL=y




CONFIG_ESP_PHY_MAC_BB_PD=y

# Bluetooth low power clock
#CONFIG_BT_CTRL_LPCLK_SEL_MAIN_XTAL=y
# MODEM SLEEP Options
#CONFIG_BT_CTRL_MODEM_SLEEP=y
#CONFIG_BT_CTRL_MODEM_SLEEP_MODE_1=y
# Power up main XTAL during light sleep
#CONFIG_BT_CTRL_MAIN_XTAL_PU_DURING_LIGHT_SLEEP=y


# wifi最大功率
CONFIG_ESP_PHY_MAX_WIFI_TX_POWER=10
CONFIG_ESP32_PHY_MAX_WIFI_TX_POWER=10

# 蓝牙最大功率
CONFIG_BT_CTRL_DFT_TX_POWER_LEVEL=-24dBm
CONFIG_BT_CTRL_DFT_TX_POWER_LEVEL_N24=y

#CONFIG_LEDC_CTRL_FUNC_IN_IRAM=n
#CONFIG_ADC_ONESHOT_CTRL_FUNC_IN_IRAM=n
#CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=n



# FreeRTOS
#CONFIG_FREERTOS_HZ=1000
#CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
#CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=3



# MBEDTLS
# remove after corresponding crypto module init/deinit supported
# CONFIG_MBEDTLS_HARDWARE_AES is not set
# CONFIG_MBEDTLS_HARDWARE_MPI is not set
# CONFIG_MBEDTLS_HARDWARE_SHA is not set
# CONFIG_MBEDTLS_HARDWARE_ECC is not set